# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war

# Maven build directories
code/**/target/

# IntelliJ IDEA
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml 